@{
    ViewBag.Title = "Register";
    dynamic form = new Oak.DynamicForm(new UserRegistration());
}

@using (Html.BeginForm("Create", "User", FormMethod.Post, new { @class = "well form-horizontal" }))
{
    <div class="control-group">
    <label class="control-label" for="Login">Login</label>
    <div class="controls">
      @OakForm.TextBox(form.Login(new Hash { { "placeholder", "login" }, { "class", "span4" }, { "display", "block" } }))
    </div>
    </div>
        <div class="control-group">
    <label class="control-label" for="FirstName">First Name</label>
    <div class="controls">
      @OakForm.TextBox(form.FirstName(new Hash { { "placeholder", "first name" }, { "class", "span4" }, { "display", "block" } }))
    </div>
    </div>
    
    <div class="control-group">
    <label class="control-label" for="LastName">Last Name</label>
    <div class="controls">
       @OakForm.TextBox(form.LastName(new Hash { { "placeholder", "last name" }, { "class", "span4" }, { "display", "block" } }))
    </div>
    </div>
     
    <div class="control-group">
    <label class="control-label" for="Email">Email </label>
    <div class="controls">
       @OakForm.TextBox(form.Email(new Hash { { "placeholder", "email" }, { "class", "span4" }, { "display", "block" } }))
    </div>
    </div>
    
    <div class="control-group">
    <label class="control-label" for="Password">Password  </label>
    <div class="controls">
       @OakForm.Password(form.Password(new Hash { { "placeholder", "password" }, { "class", "span4" }, { "display", "block" } }))
    </div>
    </div>
    
    <div class="control-group">
    <label class="control-label" for="PasswordConfirmation">Password Again   </label>
    <div class="controls">
       @OakForm.Password(form.PasswordConfirmation(new Hash { { "placeholder", "confirm password" }, { "class", "span4" }, { "display", "block" } }))
    </div>
    </div>
    
    
    <input type="submit" value="Register" class="btn btn-primary span2" />
}
