@{
    ViewBag.Title = "Login";
}
@{
    dynamic form = new DynamicForm(new { login = "", Password = "" });
}

<form method="post" action="@Href("~/account/login")" class="well form-horizontal">
  <input type="hidden" name="returnurl" value="@ViewBag.ReturnUrl" />
  <input type="hidden" name="failureurl" value="@Href("~/user/loginfailed")" />

    <div class="control-group">
    <label class="control-label" for="Email">User Name</label>
    <div class="controls">
        @OakForm.TextBox(form.login(new Hash { { "required", "required" }, { "placeholder", "john@outlook.com" }, { "class", "span4" }, { "display", "block" } }))
    </div>
    </div>

    <div class="control-group">
    <label class="control-label" for="Password">Password</label>
    <div class="controls">
        @OakForm.Password(form.Password(new Hash { { "required", "required" }, { "placeholder", "passW0rd" }, { "class", "span4" }, { "display", "block" } }))
    </div>
    </div>
    
    <div class="control-group">
        <div class="controls">
    <input type ="submit" value="Login" class="btn btn-primary span4" /> 
            </div>
    </div>

</form>
