@{
    ViewBag.Title = "Změnit synchronizační údaje";
}

<h2>ChangeInfo</h2>

@{System.Collections.ObjectModel.ReadOnlyCollection<TimeZoneInfo> timeZones = TimeZoneInfo.GetSystemTimeZones();}

@{
    dynamic form = new DynamicForm(new SyncSetup());
}

@if (ViewBag.Flash != null)
{
    <div class="alert alert-error">@ViewBag.Flash</div>
}

@using (Html.BeginForm("UpdateSyncSetup", "Sync", FormMethod.Post, new { @class = "well form-horizontal" }))
{
    <div class="control-group">
        <label class="control-label" for="FirstName">Atollon UserName</label>
        <div class="controls">
            @OakForm.TextBox(form.AtollonUserName(new Hash { { "placeholder", "first name" }, { "class", "span4" }, { "display", "block" }, { "value", @ViewBag.AtollonUserName } }))
        </div>
    </div>
    
    <div class="control-group">
        <label class="control-label" for="LastName">Atollon Password</label>
        <div class="controls">
            @OakForm.Password(form.AtollonPassword(new Hash { { "placeholder", "last name" }, { "class", "span4" }, { "display", "block" }, { "value", @ViewBag.AtollonPassword } }))
        </div>
    </div>
    
    <div class="control-group">
        <label class="control-label" for="AtollonServer">Atollon Server name</label>
        <div class="controls">
            @OakForm.TextBox(form.AtollonServer(new Hash { { "placeholder", "Attolon server name" }, { "class", "span4" }, { "display", "block" }, { "value", @ViewBag.AtollonServer } }))
        </div>
    </div>
     
    <div class="control-group">
        <label class="control-label" for="Email">Exchange UserName</label>
        <div class="controls">
            @OakForm.TextBox(form.ExchangeUserName(new Hash { { "placeholder", "email" }, { "class", "span4" }, { "display", "block" }, { "value", @ViewBag.ExchangeUserName } }))
        </div>
    </div>
    
    <div class="control-group">
        <label class="control-label" for="Password">Exchange Password  </label>
        <div class="controls">
            @OakForm.Password(form.ExchangePassword(new Hash { { "placeholder", "password" }, { "class", "span4" }, { "display", "block" }, { "value", @ViewBag.ExchangePassword } }))
        </div>
    </div>
    
    <div class="control-group">
        <label class="control-label" for="PasswordConfirmation">Google UserName   </label>
        <div class="controls">
            @OakForm.TextBox(form.GoogleUserName(new Hash { { "placeholder", "confirm password" }, { "class", "span4" }, { "display", "block" }, { "value", @ViewBag.GoogleUserName } }))
        </div>
    </div>
    
    <div class="control-group">
        <label class="control-label" for="PasswordConfirmation">Google Password   </label>
        <div class="controls">
            @OakForm.Password(form.GooglePassword(new Hash { { "placeholder", "confirm password" }, { "class", "span4" }, { "display", "block" }, { "value", @ViewBag.GooglePassword } }))
        </div>
    </div>
    
    <div class="control-group">
        <label class="control-label" for="TimeZone">Časové pásmo</label>
        <div class="controls">

            <select id="timeZoneSelected" name="TimeZone">
                @foreach (var timeZone in timeZones)
                {
                    if (@timeZone.Id == ViewBag.TimeZone)
                    {
                         <option value="@timeZone.Id" class="span4" selected="selected">@timeZone</option>
                    }
                    else
                    {
                    <option value="@timeZone.Id" class="span4">@timeZone</option> 
                    }

                }
            </select>

        </div>
    </div>
    
    <input type="submit" value="Aktualizovat" class="btn btn-primary span2" />
}
