@{
    ViewBag.Title = "Setup";
}

<h2>Setup</h2>

@{
    dynamic form = new DynamicForm(new SyncSetup());
}

@{System.Collections.ObjectModel.ReadOnlyCollection<TimeZoneInfo> timeZones = TimeZoneInfo.GetSystemTimeZones();}

@if (ViewBag.Flash != null)
{
    <div class="alert alert-error">@ViewBag.Flash</div>
}

@using (Html.BeginForm("Setup", "Sync", FormMethod.Post, new { @class = "well form-horizontal" }))
{
    <div class="control-group">
        <label class="control-label" for="Email">Exchange UserName</label>
        <div class="controls">
            @OakForm.TextBox(form.ExchangeUserName(new Hash { { "placeholder", "email" }, { "class", "span4" }, { "display", "block" } }))
        </div>
    </div>
    
    <div class="control-group">
        <label class="control-label" for="Password">Exchange Password  </label>
        <div class="controls">
            @OakForm.Password(form.ExchangePassword(new Hash { { "placeholder", "password" }, { "class", "span4" }, { "display", "block" } }))
        </div>
    </div>
        
    <div class="control-group">
        <label class="control-label" for="TimeZone">Your time zone</label>
        <div class="controls">

            <select id="timeZoneSelected" name="TimeZone">
                @foreach (var timeZone in timeZones)
                {
                    <option value="@timeZone.Id" class="span4">@timeZone</option>   
                }
            </select>

        </div>
    </div>
    
    
    <input type="submit" value="Save" class="btn btn-primary span2" onclick="GetZone()" />
}
