<!DOCTYPE html>
<html lang="en">
<head>
    <title>naseukolycz - Producteev/Exchange</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <link type="text/css" rel="stylesheet" href="~/content/css/bootstrap-min.css" />
    <link type="text/css" rel="stylesheet" href="~/content/css/style.css" />
    <link type="text/css" rel="stylesheet" href="~/content/css/alerts.css" />

</head>
<body>
    <div id="top">
        @if (User.Identity.IsAuthenticated)
        {
            <span style="float: left; margin-left: 30px;">You're logged for <span style="color: lime;">@User.Identity.Name</span></span>
            @Html.ActionLink("Your account information", "Index", "Sync")<span class="separator">|</span> @Html.ActionLink("Logout", "Logout", "User", null, new { style="color: red;"})
        }
        else
        {
            @Html.ActionLink("Login", "Login", "User")<span class="separator">|</span>@Html.ActionLink("Register", "Register", "User")
        }
        
    </div>
    <div id="wrapper">

        <div class="content">
            @RenderBody()
        </div>
    </div>
</body>
</html>
